<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Academy Coaches</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script type="text/javascript" src="../static/authentication.js"></script>
    <script type="text/javascript" src="../static/navbar.js"></script>
    <script type="text/javascript" src="../static/contribution.js"></script>
</head>

<body onbeforeunload="setDefault()">

<div id="login-dashboard">
</div>

<div id="options" class="options-container">
    <label>Choose a coach:</label>
    <select name="coach" id="coach">
    </select>
    <label>Choose a cohort:</label>
    <select name="cohort" id="cohort">
    </select>
    <button id="submit" type="button" onclick="searchContributions()">Submit</button>
</div>

<div id="root"></div>
</body>

</html>
