<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script type="text/javascript" src="../static/contribution.js"></script>
    {% set tree = tree %}
    <script>
        let tree = {{ tree.root|tojson }};
    </script>
</head>

<body onbeforeunload="setDefault()">
    <div class="options-container">
    <label for="coach">Choose a coach:</label>
    <select name="coach" id="coach">
        {% for coach in coaches %}
            <option value="{{ coach }}">{{ coach }}</option>
        {% endfor %}
    </select>
    <label for="cohort">Choose a cohort:</label>
    <select name="cohort" id="cohort">
    </select>
    <button id="submit" type="button" value="Submit" onclick="buttonClick()">Submit</button>
    </div>

    <div id="root"></div>
</body>

</html>